<div class="card">
  <div class="card-header row align-items-center justify-content-between margin-0">

    <h5 class="margin-0">
      <span [appState]="value.state"> {{value.state}} </span>
    </h5>
    <div>
      <a routerLink="/items/edit/{{value.id}}"  class="btn btn-primary">
        <i class="fa fa-pencil"></i>
      </a>
      <button [disabled]="value.state===state.LIVREE || value.state===state.ENCOURS" class="btn btn-danger " (click)="remove()">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Nom : {{value.name}}</h5>
    <p class="card-text">Reference : {{value.reference}}</p>
    <button (click)="changeState(state.ENCOURS)" [hidden]="value.state!=state.ALIVRER" class="btn btn-primary">{{state.ENCOURS}}</button>
    <button (click)="changeState(state.LIVREE)" [hidden]="value.state!=state.ENCOURS" class="btn btn-success">{{state.LIVREE}}</button>
  </div>
</div>
