<div class="container">
    <div class="card">
        <div class="card-header">
            Ajouter une commande
        </div>
      <div class="card-body">
          <form novalidate class="form"  [formGroup]="form" (ngSubmit)="process()"  >
              <div class="form-group">
                <input type="text"  name="name" formControlName="name"  class="form-control" placeholder="Name">
                <div *ngIf="isError('name')" class="alert alert-danger" role="alert">
                  The name filed is required
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  name="reference" formControlName="reference"
                  placeholder="Ref . ex 1234">
                <div *ngIf="isError('reference')" class="alert alert-danger" role="alert">
                  The reference filed is invalid

                </div>
              </div>
              <div class="form-group">
                <select class="form-control" formControlName="state" name="state">
                  <option *ngFor="let libelle of stateLibelles" [ngValue]="libelle">{{libelle}}</option>
                </select>
              </div>
              <div class="form-group margin-0">
                <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Valider</button>
              </div>
            </form>

      </div>
    </div>
  </div>

